* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    left: auto;
    width: 90%;
    background-color: #fff;
}

/* slider container */
/* use relative positioning so that we can absolutely position the fake thum */
.slider {
    position: relative;
    /* border: 2px solid #000; */
    width: 100%;
}

.slider label {
    display: inline-block;
}

.slider input[type='range'] {
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
}

.flex {
    display: flex;
    /* border: 1px solid #000; */
    width: 100%;
    height: 4rem;
}

.blue {
    flex: 0 1 auto;
    /* border: 1px solid #000; */
    /* height: 2rem; */
    width: 900%;
    background-color: blue;
}
.red {
    flex: 0 1 auto;
    /* border: 1px solid #000; */
    width: 100%;
    background-color: red;
}
/* fake div thumb*/
.thumb {
    display: none;
    height: 4rem;
    /* width: 100%; */
    flex: 1 1 auto;
    background-color: #219;
    color: #fff;
    position: absolute;
    
}


/* browser-specific input hacks */
.slider input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    background-color: #222;
    border: 2px solid #000;
    border-radius: 1rem;
}


.slider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4rem;
    width: 4rem;
    margin-top: -1.5rem;
    /* background-color: #219; */
    border: .1rem solid #116;
    border-radius: 100%;
}

.slider input[type='range']::-moz-range-track {
    height: 1rem;
    background-color: #222;
    border: 2px solid #000;
    border-radius: 1rem;
}

.slider input[type='range']::-moz-range-thumb {
    height: 4rem;
    width: 4rem;
    margin-top: -1.5rem;
    /* background-color: #219; */
    border: .1rem solid #116;
    border-radius: 100%;
}


.slider input[type='range']::-ms-track {
    height: 4rem;
    width: 4rem;
    margin-top: -1.5rem;
    background-color: #219;
    border: .25rem solid #116;
    border-radius: .5rem;
}
