* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    left: auto;
    width: 90%;
    background-color: #fff;
}


.flex {
    display: flex;
    /* border: 1px solid #000; */
    width: 100%;
    height: 4rem;
    transition: all 200ms ease-in-out;

}

.resultsContainer {
    position: relative;
    /* margin: 1.25rem -5% 1.25rem; */
    margin-top: 3rem;
    margin: auto;
    width: 98.5%;
    /* 97.5% so fake slider thumb is mostly aligned */
    /* need to use 95% on smaller breakpoints */
    /* outline: 1px solid #000; */
    height: 0rem;
}

/* .fakeSlider {
    width: 100%;
    border: .1rem solid #000;
    border-radius: 1rem;
    display: block;
    height: 1rem;
    position: absolute;
    background-color: #222;
    margin-top: -2rem;
    pointer-events: none;
} */

.focusedVis {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 200ms ease-in-out;
}


.resultsEl {
    opacity: 0;
    visibility: hidden;
    font-size: 1.5rem;
    position: absolute;
    display: block;
    margin-top: 2rem;
    z-index: 3;
    pointer-events: none;
    color: #222;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.5);
    border: .1rem solid #222;
    text-align: center;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 100%;
    box-shadow: 0 0 2px 1px #222;
    transition: opacity 200ms ease-in-out;
}

.slider:hover .resultsEl {
    cursor: pointer;
    box-shadow: 0 0 3px 2px #222;

}

.flex div {
    flex: 1 1 auto;
    height: 100%;
    /* width: 100%; */
    transition: flex 200ms ease-in-out;
}

.blue {
    /* flex: 0 1 auto; */
    /* border: 1px solid #000; */
    /* height: 2rem; */
    width: 100%;
    background-color: blue;
}

.red {
    /* flex: 0 1 auto; */
    /* border: 1px solid #000; */
    width: 100%;
    background-color: red;
}

/* slider container */
/* use relative positioning so that we can absolutely position the fake thum */


datalist {
    /* display: flex; */
    width: 100%;
    /* height: .25rem; */

}

datalist option {
    /* display: inline-block;  */
    flex: 1 1 auto;
    font-size: .25rem;
    text-align: center;
    /* margin: auto; */
}

.slider {
    position: relative;
    /* border: 2px solid #000; */
    width: 100%;
}

.slider label {
    display: inline-block;
}

.slider input[type='range'] {
    -webkit-appearance: none;
    /* opacity: 0; */
    margin: auto;
    height: 1.5rem;
    /* display: inline-block; */
    width: 100%;
    /* transition: all 500ms; */
}

/* browser-specific input hacks */
.slider input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1rem;
    background-color: #222;
    border: 2px solid #000;
    border-radius: 1rem;
}

.slider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 3;
    /* opacity: 0; */
    height: 2rem;
    width: 1rem;
    /* width has to be 1rem for fake slider to be at the right spot */
    margin-top: -1rem;
    border: .1rem solid #116;
    box-shadow: 0 0 5px 1px #222;
}

.slider input[type='range']::-moz-range-track {
    /* -moz-appearance: none; */
    height: 5rem;
    background-color: #222;
    border: 2px solid #000;
    border-radius: 1rem;
}

.slider input[type='range']::-moz-range-thumb {
    /* opacity: 0; */
    height: 2rem;
    width: 1rem;
    /* width has to be 1rem for fake slider to be at the right spot */
    border: .1rem solid #116;
    box-shadow: 0 0 5px 1px #222;
}


.slider input[type='range']::-ms-track {
    /* height: 4rem; */
    width: 2rem;
    margin-top: -1.5rem;
    background-color: #219;
    border: .25rem solid #116;
    border-radius: .5rem;
}

.slider input[type='range']::-ms-thumb {

    height: 4rem;
    width: 1rem;
    /* width has to be 1rem for fake slider to be at the right spot */
    margin-top: -2rem;
    border: .1rem solid #116;
    box-shadow: 0 0 5px 1px #222;
}
